body {
    font-family: 'Courier', 'Times', serif, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(47, 0, 255) 0%, rgba(148,187,233,1) 100%);
    color: blanchedalmond;
}
.title{
    text-align: center;
}
h3{
    padding-left: 25%;
    font-size: 30px;
}
.Myvideo{
    padding-left:30% ;
}
pre{
    padding-left: 10%;
    font-size: 20px;
}
.image{
    padding-left: 25%;
}
.Myaudio{
    padding-left:30% ;
}
.n{
    padding-left: 25%;
}
#mytime{
    font-size: 40px;
}